name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [closed]
    branches:
      - main
jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    env:
      NPM_CONFIG_LEGACY_PEER_DEPS: false
    steps:
      - name: Setup publish-profile and app-name env variables
        run: |
          echo "REACT_APP_API_SCOPE=${{secrets.API_SCOPE}}" >> $GITHUB_ENV
          echo "REACT_APP_BACKEND_API_HOST=${{secrets.BACKEND_API_HOST}}" >> $GITHUB_ENV
          echo "REACT_APP_ENVIRONMENT=prod" >> $GITHUB_ENV
          echo "REACT_APP_CLIENT_ID=${{ secrets.CLIENT_ID }}" >> $GITHUB_ENV
          echo "REACT_APP_TENANT_ID=${{ secrets.TENANT_ID }}" >> $GITHUB_ENV
          echo "REACT_APP_CLIENT_SECRET=${{ secrets.CLIENT_SECRET }}" >> $GITHUB_ENV
          echo "REACT_APP_USERNAME=${{ secrets.USERNAME }}" >> $GITHUB_ENV
          echo "REACT_APP_PASSWORD=${{ secrets.PASSWORD }}" >> $GITHUB_ENV
          echo "REACT_APP_REDIRECT_URI=${{ secrets.REDIRECT_URI }}" >> $GITHUB_ENV
          echo "AZURE_STATIC_WEB_APPS_API_TOKEN=${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}" >> $GITHUB_ENV
          
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: '${{ env.AZURE_STATIC_WEB_APPS_API_TOKEN }}'
          repo_token: '${{ secrets.GITHUB_TOKEN }}'
          action: upload
          app_location: /
          output_location: build
      - name: Check if CYPRESS_PROJECT_ID secret is set
        id: check_cypress
        run: echo "::set-output name=secret_set::${{ secrets.CYPRESS_PROJECT_ID != '' }}"
      - name: Fix folder permissions
        if: steps.check_cypress.outputs.secret_set == 'true'
        run: sudo chown -R $USER $GITHUB_WORKSPACE
      - name: Install dependencies
        if: steps.check_cypress.outputs.secret_set == 'true'
        run: npm ci
      - name: Cypress E2E Tests
        if: steps.check_cypress.outputs.secret_set == 'true'
        uses: cypress-io/github-action@v5.8.3
        env:
          CYPRESS_RECORD_KEY: '${{ secrets.CYPRESS_RECORD_KEY }}'
          CYPRESS_PROJECT_ID: '${{ secrets.CYPRESS_PROJECT_ID }}'
        with:
          install: false
          browser: chrome
          record: true
  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: '${{ env.AZURE_STATIC_WEB_APPS_API_TOKEN }}'
          action: "close"
